@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* about section */
.aboutSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: hotpink; */
}
.innerAboutSection {
  width: 85%;
  margin-top: 2%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: lawngreen; */
  padding: 2%;
}
.aboutSection-heading {
  margin: 2% 0 2% 0;
}
.aboutSection-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: #1b2050;
  /* background-color: lightblue; */
}
.aboutSection-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 167.5%;
  text-align: justify;
  color: #484848;
}
/* Photo section */
.aboutPhotoSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: hotpink; */
}
.innerAboutPhotoSection {
  width: 85%;
  margin-top: 2%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: lawngreen; */
  padding: 2%;
}
.photoSectionHeading {
  margin: 2% 0 3% 0;
}
.photoSectionHeading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: #1b2050;
  /* background-color: lightblue; */
}
.photoSectionPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.photoSectionPart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
.photoSectionPart-topInner,
.photoSectionPart-bottomInner {
  width: 32%;
  position: relative;
}
.photoSectionPart-text {
  position: absolute;
  bottom: 0;
  left: 3%;
}
.photoSectionPart-text h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #ffffff;
}
.photoSectionPart-text h6::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #2fab73;
  margin-top: 10px;
}
.photoSectionPart-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  color: #ffffff;
}

.photoSectionPart-topInner img,
.photoSectionPart-bottomInner img {
  width: 100%;
  height: 100%;
}
.photoSectionPart-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
