@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

/* landing page css */
.landingPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* margin-top: -8%; */
  margin-bottom: 7%;
}
.innerLandingPage {
  width: 93%;
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
}
.landingPageContent {
  width: 50%;
}
.landingPageHeading h1 {
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 4%;
  color: #1b2050;
  font-size: 2rem;
  line-height: 130%;
}
.landingPageHeading p {
  font-family: "Poppins";
  font-weight: 300;
  margin-bottom: 5%;
  color: #484848;
}
.landingPageBtn button {
  width: 40%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
}
.landingPageImage {
  display: flex;
  flex-direction: column;
}
.landingPageImage div:nth-child(1),
.landingPageImage div:nth-child(2) {
  display: flex;
  justify-content: space-around;
}
.landingPageImage div:nth-child(2) {
  margin-top: 3%;
}
.landingPageImage-circle-1 {
  background-color: #fcfc93;
  border-radius: 50%;
  margin-left: -15%;
}
.landingPageImage-circle-1 img {
  position: relative;
  left: 15%;
}
.landingPageImage-circle-2 {
  background-color: #fc9393;
  border-radius: 50%;
}
.landingPageImage-circle-2 img {
  position: relative;
  left: -15%;
}
.landingPageImage-circle-3 {
  background-color: #047a43;
  border-radius: 50%;
}
.landingPageImage-circle-3 img {
  position: relative;
  left: 15%;
}
.landingPageImage-circle-4 {
  background-color: #38f5d5;
  border-radius: 50%;
}
.landingPageImage-circle-4 img {
  position: relative;
  left: -15%;
}

/* revenue section css*/
.revenue-section {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: red; */
  background-color: #fafafa;
  font-family: "Poppins";
  align-items: center;
}
.innerRevenueSection {
  width: 100%;
  /* background-color: green; */
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.innerRevenueSection .revenue-heading {
  margin-top: 4%;

  margin-bottom: 3%;
}
.innerRevenueSection .revenue-heading h1 {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #1b2050;
}
.innerRevenueSection .revenue-heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #1b2050;
}
.revenue-box {
  background: #ffffff;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04),
    0px 4px 56px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  width: 80%;
  margin: auto;
  padding: 5%;
}
.revenue-box .revenue-box-inner h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #000000d9;
  margin-bottom: 2%;
}
.revenue-box-inner .revenue-input input {
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 6px;
  width: 25%;
  height: 50px;
}
.revenue-box-inner .revenue-input button {
  width: 12%;
  height: 50px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}
.revenue-table {
  margin-top: 5%;
}
.total-revenue {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2% 0 2% 0;
}
.total-revenue h4,
.total-revenue p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  color: #333333;
}
.revenue-points {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  color: #1b2050;
}
.revenue-points .revenue-points-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Poppins";
  color: #1b2050;
  margin: 2% 0 2% 4%;
}
.revenue-points .revenue-points-div h6,
.revenue-points .revenue-points-div p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: #333333;
}

/* benefit section */
.benefit-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.benefit-heading-div {
  margin-top: 6%;
  margin-bottom: 3%;
}
.benefit-heading-div h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #1b2050;
}
.inner-benefit-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.benefitCardsSection {
  width: 30%;
  margin: 1rem;
  background-color: #fff;
  min-height: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.benefitCardsSection .card-img-bg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 15%;
}
.benefitCardsSection .card-img-bg div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #ffecec;
}
.benefitCardsSection .benefit-text {
  font-family: "Poppins";
  margin-left: 6%;
  width: 85%;
}
.benefitCardsSection .benefit-text h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #0b132a;
}
.benefitCardsSection .benefit-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

/* device suit section */
.device-suit-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e5e5;
  padding-bottom: 5%;
}
.inner-device-suit {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.device-suit-heading {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 8%;
}
.device-suit-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #1b2050;
}
.device-suit-heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #1b2050;
}
.device-suit-photo {
  width: 80%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}
.device-suit-text {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  background-color: greenyellow;
  /* align-items: center; */
  position: relative;
}
.device-suit-text h5:nth-child(1) {
  position: absolute;
  left: 5%;
}
.device-suit-text h5:nth-child(2) {
  position: absolute;
  left: 27%;
}
.device-suit-text h5:nth-child(3) {
  position: absolute;
  left: 45%;
}
.device-suit-text h5:nth-child(4) {
  position: absolute;
  right: 26%;
}
.device-suit-text h5:nth-child(5) {
  position: absolute;
  right: -1%;
}
/* on-boarding section */
.on-boarding-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: hotpink; */
  margin-bottom: 5%;
}
.inner-on-boarding-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.on-boarding-heading {
  margin-top: 6%;
  margin-bottom: 3%;
}
.on-boarding-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #1b2050;
}
.on-boarding-step-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.onBoardingCards {
  width: 30%;
  margin: 1rem;
}
.onBoardingCards div:nth-child(1) {
  width: 100%;
  margin-bottom: 20%;
}
.onBoardingCards div:nth-child(1) img {
  width: 100%;
}
.onBoardingCards div:nth-child(2) {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
}
.onBoardingCards div:nth-child(2) h2::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #458dfc;
  margin: auto;
  margin-top: 10px;
}

.onBoardingCards h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #4f5665;
}
.onBoardingCards p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
}
/* device Feature  */
.device-features {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f9ff;
}
.device-featurs-inner {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: magenta; */
}
.device-feature-heading {
  margin: 4% 0 1% 0;
}
.device-feature-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
  color: #1b2050;
}
.device-features-grid {
  /* background-color: mediumaquamarine; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 1% 5% 5% 5%;
}
.device-features-grid-top,
.device-features-grid-middle,
.device-features-grid-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: mediumpurple; */
  position: relative;
}
.device-features-grid-content {
  width: 28%;
  /* background-color: mistyrose; */
  margin: 4% 0;
}
.device-features-grid-content h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #333333;
}
.device-features-grid-middle::before,
.device-features-grid-middle::after {
  content: "";
  width: 73%;
  height: 1px;
  display: block;
  background-color: #97c3f9;
  margin: auto;
  /* margin-top: 10px; */
}
.device-features-grid-top div:nth-child(2),
.device-features-grid-middle div:nth-child(2),
.device-features-grid-bottom div:nth-child(2) {
  position: absolute;
  height: 80px;
  width: 1px;
  display: block;
  background-color: #97c3f9;
  margin: auto;
}

/* graph-section */
.impact-graph-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding-bottom: 10%;
}
.inner-impact-graph-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.impact-graph-heading {
  text-align: center;
  margin-top: 6%;
}
.impact-graph-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20%;
}
.impact-graph-heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
}
