@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.mainHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.innerMainHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainLanding {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 11%;
}
.landingDotsImage {
  position: absolute;
  left: -5%;
}
.innerLanding {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
.contentArea {
  width: 100%;
  margin-top: 7%;
  padding-left: 5%;
}
.contentArea div h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #1b2050;
  margin-bottom: 4%;
}
.contentArea div p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  color: #484848;
  margin-bottom: 5%;
}
.contentArea .btn-1 {
  width: 40%;
  height: 60px;
  outline: none;
  border: 2px solid #1b2050;
  background-color: #fff;
  color: #1b2050;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 2%;
}
.contentArea .btn-2 {
  width: 40%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 3%;
}
.imageArea {
  width: 100%;
  height: 100%;
  display: flex;
}
.imageArea img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -7%;
  top: 0;
  z-index: -11;
}

/* main companies */
.mainCompanies {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 8%;
}
.mainCompanies .Vector101 {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 30%;
  height: 100%;
}
.innerCompanies {
  width: 90%;
  z-index: 2;
}
.CompanyHeading {
  text-align: center;
  margin: 4% 0;
}
.CompanyHeading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 130%;
  color: #1b2050;
}

.innerCompanies .companyCards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 15px;
  /* box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2); */
  flex-wrap: wrap;
  padding: 0 1rem;
  box-shadow: 0px 10px 45px 2px rgba(0, 0, 0, 0.6);
}
.company_image {
  display: flex;
  justify-content: center;
  width: 25%;
  overflow: hidden;
  padding: 0.5rem;
  margin: 1% 0;
  /* background-color: turquoise; */
}
.company_image .card-images-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.imapct-text {
  width: 75%;
}
.company_image .card-images-bg div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #ffecec;
}
.company_image .imapct-text {
  font-family: "Poppins";
  margin-left: 6%;
  width: 85%;
  /* text-align: center; */
  /* background-color: violet; */
}
.company_image .imapct-text h1 {
  font-weight: bold;
  color: #0b132a;
  font-size: 2rem;
  /* text-align: center; */
  /* margin-left: 20%; */
}
.company_image .imapct-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  color: #484848;
  /* margin-bottom: 5%; */
}

/* third section */
.mainThirdSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f6faff;
  margin-top: 3%;
  /* background-color: lawngreen; */
  padding-bottom: 5%;
}
.innerThirdSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins";
}
.innerThirdSection-text {
  margin-top: 7%;
}
.innerThirdSection-text h1 {
  font-size: 2rem;
  color: #1b2050;
  margin-bottom: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
}
.innerThirdSection-text p {
  width: 75%;
  margin: auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  color: #484848;
  margin-bottom: 5%;
}
.innerThirdSection-img {
  margin-top: 1%;
  width: 100%;
}
.innerThirdSection-img img {
  width: 70%;
}

/* section four */
.mainFourSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f6faff;
}
.innerFourSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
}
.innerFourSection-left img {
  height: 33rem;
  width: 33rem;
}
.innerFourSection .innerFourSection-right {
  padding-left: 7%;
  display: flex;
  flex-direction: column;
}
.innerFourSection .innerFourSection-right h1 {
  margin-bottom: 2%;
  text-align: left;
  font-size: 3rem;
  color: #1b2050;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.innerFourSection .innerFourSection-right p {
  text-align: left;
  margin-bottom: 1%;
  width: 75%;
  color: #484848;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
}
.innerFourSection-right button {
  width: 30%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 30px;
}

/* five section */
.mainFiveSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
  padding-bottom: 4%;
}
.innerFiveSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
}
.innerFiveSection .innerFiveSection-left {
  padding-left: 7%;
  display: flex;
  flex-direction: column;
}
.innerFiveSection .innerFiveSection-left h1 {
  margin-bottom: 2%;
  text-align: left;
  font-size: 3rem;
  color: #1b2050;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.innerFiveSection .innerFiveSection-left p {
  text-align: left;
  margin-bottom: 1%;
  width: 75%;
  color: #484848;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
}

.innerFiveSection-left button {
  width: 30%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 30px;
}

/* graph carousel */
.graph-carousel {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: grey; */
  /* margin-top: -1%; */
  padding-bottom: 3%;
  background: #fafafa;
}
.graph-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.graph-carousel .item img {
  width: 50% !important;
}

.owl-nav {
  /* z-index: 1; */
  /* bottom: 0; */
  display: flex;
  justify-content: center;
}
.owl-nav button {
  /* position: absolute; */
  width: 2rem;
  height: 2rem;
  background-color: #ebe9e9 !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  /* bottom: 0; */
}
.owl-nav button:focus {
  outline: none !important;
}
.owl-nav button:hover span {
  color: #000 !important;
}
.owl-nav button span {
  font-size: 1.3rem !important;
}

.owl-dots .owl-dot span {
  background-color: #a9cfff !important;
}
.owl-dots .owl-dot.active span {
  background-color: #475786 !important;
}
.owl-dots button:focus {
  outline: none !important;
}

/* old carousel */
.mainTestimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6faff;
  min-height: 70vh;
  margin-top: 4%;
  padding-top: 7%;
  padding-bottom: 7%;
}

.innerTestimonial {
  width: 80%;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
}
.testimonialHeading {
  width: 100%;
  margin-bottom: 2%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.dots {
  position: absolute;
  left: -45px;
  top: -100px;
  width: 12%;
}
.testimonialHeading h2 {
  font-family: "Poppins";
  font-weight: 300;
  color: #fff;
  font-size: 1.8rem;
}
.testimonialHeading h2::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5%;
  border-radius: 999px;
}

.testimonialUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
}
.userImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userProfile {
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
}
.userAvatar {
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  width: 100% !important;
  object-fit: contain;
}
.userInfo h2 {
  font-family: "Poppins";
  font-weight: 400;
  color: #fff;
}
.userInfo p {
  font-family: "Poppins";
  font-weight: 600;
  color: #fff;
}
.userData {
  width: 50%;
}
.userData p {
  width: 80%;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 100;
  color: #ffffff;
}
.rightDots {
  position: absolute;
  right: -5%;
  z-index: 999;
  bottom: -10%;
}
/* 
.owl-nav {
  z-index: 1;
  bottom: 0;
}
.owl-nav button {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  bottom: 0;
}
.owl-nav button:nth-child(2) {
  left: 4%;
}
.owl-nav button:focus {
  outline: none !important;
}
.owl-nav button:hover span {
  color: #000 !important;
}
.owl-nav button span {
  font-size: 1.3rem !important;
}
.owl-dots {
  bottom: -20px;
  right: 0;
}

.owl-dots .owl-dot span {
  background-color: #f6faff !important;
}
.owl-dots .owl-dot.active span {
  background-color: #121a31 !important;
}
.owl-dots button:focus {
  outline: none !important;
} */

.mainServices {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8%;
  background-color: #f6faff;
  padding-top: 5%;
}
.brinjal {
  position: absolute;
  z-index: -1;
  left: 0;
}
.serviceDots {
  position: absolute;
  right: 5%;
  z-index: -1;
}
.innerServices {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}
.ServicesInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.ServicesHeading {
  margin-bottom: 10%;
}
.ServicesHeading h1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 2rem;
  color: #1b2050;
}
.ServicesHeading h1::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #1b2050;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1%;
  border-radius: 999px;
}
.serviceCard {
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
  width: 30%;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
  z-index: 1;
}
.serviceCard:hover {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}
.serviceIcon {
  margin-bottom: 8%;
}
.serviceContent h3 {
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom: 10px;
}
.serviceContent p {
  font-family: "Poppins";
  font-weight: 400;
  color: #7d7987;
}
.learnMore {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.learnMore button {
  width: 20%;
  height: 50px;
  outline: none;
  border: 1px solid #1b2050;
  background-color: transparent;
  color: #1b2050;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  z-index: 1;
  display: inline-block;
}
.learnMore button:hover {
  box-shadow: inset 400px 0 0 0 #1b2050;
  color: #fff;
}

.mainCaseStudy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 14%;
}
.innerCaseStudy {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.CaseStudyHeading {
  margin-bottom: 6%;
}
.CaseStudyHeading h1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 2rem;
  color: #1b2050;
}
.CaseStudyHeading h1::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #1b2050;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1%;
  border-radius: 999px;
}
.caseStudyContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.caseStudyCard {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 30%;
  border-radius: 15px;
  background-color: #fff;
}
.caseStudyCardImage {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  padding: 0.5rem;
}
.caseStudyCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.caseStudyInfo {
  padding: 0.7rem;
}
.caseStudyInfo h3 {
  font-family: "Poppins";
  color: #1b2050;
  margin-bottom: 2%;
}
.caseStudyInfo p {
  font-family: "Poppins";
  color: #7d7987;
  font-weight: 200;
}
.readMoreBtn {
  width: auto;
  position: relative;
  margin-top: 4%;
  margin-bottom: 2%;
  transition: 0.3s ease-in-out;
}
.readMoreBtn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4089ed;
}
.readMoreBtn a h6 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.readMoreBtn a img {
  transition: 0.2s ease-in-out;
  width: 25px;
  margin-left: 8px;
}
.readMoreBtn a:hover > img {
  transform: translateX(20px);
}

.viewAllBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.viewAllBtn button {
  width: 20%;
  height: 50px;
  outline: none;
  border: 1px solid #1b2050;
  background-color: transparent;
  color: #1b2050;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  z-index: 1;
  display: inline-block;
}
.viewAllBtn button:hover {
  box-shadow: inset 400px 0 0 0 #1b2050;
  color: #fff;
}
.brinjalright {
  position: absolute;
  right: 0;
  z-index: -1;
}
.StudyDots {
  position: absolute;
  top: 0;
  z-index: -1;
  left: -40px;
}

.getEstimate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -55%;
  transform: translateY(50%);
}
.innerGetEstimate {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 15px;
  background-color: #fff;
}
.edtimateDiv {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.estimateText {
  margin-top: 2%;
}
.estimateText h3 {
  /* font-family: "Poppins"; */
  /* font-size: 2rem;
  font-weight: 400; */
  /* color: #1b2050; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  display: flex;
  align-items: center;

  color: #0b132a;
}
.estimateText p {
  margin-top: 2%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #4f5665;
}
.estimateBtnArea {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.estimateBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.estimateBtn button {
  width: 50%;
  height: 50px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4);
}

.mainFooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  position: relative;
}
.footerDots {
  position: absolute;
  left: 0;
  bottom: 20%;
}
.innerFooter {
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding: 8rem 0 2rem 0;
}
.footerContent {
  width: 40%;
}
.footerHeading {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.footerLogo {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-right: 10px;
}
.footerLogo h6 {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 400;
  color: #5a98f2;
}
.footerHeading h2 {
  font-family: "Poppins";
  font-weight: 400;
  color: #fff;
}
.footerInfo p {
  font-family: "Poppins";
  font-weight: 200;
  color: #fff;
}
.copyrights {
  margin-top: 6%;
}
.copyrights p {
  font-family: "Poppins";
  font-weight: 300;
  color: #fff;
}
.footerMaps {
  display: flex;
}

.footerCompany h2 {
  font-family: "Poppins";
  font-weight: 400;
  color: #fff;
}
.footerCompany ul {
  list-style: none;
  margin-top: 5%;
}
.footerCompany ul li {
  font-family: "Poppins";
  color: #fff;
  margin-top: 8%;
  cursor: pointer;
  font-weight: 300;
}
.footerMapImage {
  margin-left: 5%;
}
