@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.mainHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.innerMainHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainLanding {
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 90vh;
  overflow: hidden;
  margin-bottom: 2%;
}
.landingDotsImage {
  position: absolute;
  left: -5%;
}
.innerLanding {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imageArea {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* position: relative; */
}
.imageArea img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -10%;
  top: 0;
  z-index: -11;
}
/* .green_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c9e9d8;
  z-index: -1;
  transform: translateX(140px);
  border-radius: 50px;
} */
.contentArea {
  width: 60%;
  margin-top: -2%;
}
.contentArea h1 {
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 4%;
  color: #1b2050;
  font-size: 1.8rem;
}
.contentArea h3 {
  font-family: "Poppins";
  font-weight: 600;
  color: #1b2050;
  margin-bottom: 6%;
}
.contentArea p {
  font-family: "Poppins";
  font-weight: 300;
  color: #484848;
  margin-bottom: 6%;
  width: 100%;
  font-size: 1.5rem;
}
.contentArea .btn-1 {
  width: 40%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
}
.contentArea .btn-2 {
  width: 40%;
  height: 60px;
  outline: none;
  border: 2px solid #1b2050;
  background-color: #fff;
  color: #1b2050;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 2%;
}
.mainCompanies {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f6faff; */
  /* margin-bottom: 10%; */
  position: relative;
}
.mainCompanies .Vector101 {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 20px;
}
.innerCompanies {
  width: 93%;
  z-index: 2;
}
.CompanyHeading {
  text-align: center;
}
.CompanyHeading h1 {
  font-family: "Poppins";
  /* margin-bottom: 1%; */
  color: #1b2050;
  font-size: 2rem;
  margin-bottom: 2%;
  font-weight: 600;
}
/* .CompanyHeading h1::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #1b2050;
  position: absolute;
  margin-top: 1%;
  border-radius: 999px;
  margin-bottom: 5%;
} */

.innerCompanies .companyCards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30vh;
  background: #fff;
  border-radius: 15px;
  /* box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1); */
  /* z-index: 999;
  z-index: 2; */
  padding: 1%;
  box-shadow: 0px 15px 25px -7px rgba(186, 178, 178, 0.81);
}

.company_image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  /* margin-left: 2%; */
}
.company_image .card-images-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 60px;
  border-radius: 100%;
  background-color: #ffecec;
}
.company_image .imapct-text {
  font-family: "Poppins";
  margin-left: 6%;
}
.company_image .imapct-text h1 {
  font-weight: bold;
}
.company_image .imapct-text p {
  font-weight: light;
  font-size: small;
  color: #484848;
}

.mainThirdSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 10%; */
  position: relative;
  background-color: #f6faff;
}
.innerThirdSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins";
  /* align-items: center; */
}
.innerThirdSection-text {
  margin-top: 6%;
}
.innerThirdSection-text h1 {
  font-size: 2rem;
  color: #1b2050;
  margin-bottom: 1rem;
}
.innerThirdSection-text p {
  /* font-size: 2rem; */
  color: #1b2050;
  width: 75%;
  margin: auto;
  font-weight: bold;
}
.innerThirdSection-img {
  margin-top: 4%;
  position: relative;
}

.mainFourSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* margin-top: 5%; */
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f6faff;
}
.innerFourSection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  text-align: center;
  font-family: "Poppins";
}
/* .innerFourSection .innerFourSection-left img {
  height: 33rem;
  width: 33rem;
} */
.innerFourSection .innerFourSection-right {
  padding-left: 7%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}
.innerFourSection .innerFourSection-right h1 {
  margin-bottom: 2%;
  text-align: left;
  font-size: 3rem;
  color: #1b2050;
}
.innerFourSection .innerFourSection-right p {
  text-align: left;
  margin-bottom: 1%;
  width: 75%;
  line-height: 2.2rem;
  font-size: 1.5rem;
  color: #484848;
}
.innerFourSection-right button {
  width: 30%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 30px;
  /* text-align: left; */
}

.mainFiveSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.innerFiveSection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: "Poppins";
}
.innerFiveSection .innerFiveSection-left {
  padding-left: 7%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}
.innerFiveSection .innerFiveSection-left h1 {
  margin-bottom: 2%;
  text-align: left;
  font-size: 3rem;
  color: #1b2050;
}
.innerFiveSection .innerFiveSection-left p {
  text-align: left;
  margin-bottom: 1%;
  width: 75%;
  line-height: 2.2rem;
  font-size: 1.5rem;
  color: #484848;
}
.innerFiveSection-left button {
  width: 30%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 30px;
  /* text-align: left; */
}

/* .leftImageThirdSection,
.rightThirdSection {
  width: 50%;
  position: relative;
} */

/* .lightBlue_bg{
    position: absolute;
    z-index: -2;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #f4f8ff;
    left: -10%;
    top: -30%;
}
.orange_bg{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #fcb46a;
    left:20%;
    z-index: -1;
} */
/* .orange_bg .arcImage{
    position: absolute;
    width:50%;
    transform: translateY(-12px) rotate(4deg) !important;
} */
/* .leftImageThirdSection {
  background-color: red;
} */
/* .workingGirl {
  width: 90%;
  object-fit: contain;
  transform: translateY(-25%);
  z-index: -999;
} */
/* .rightThirdSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
} */

/* .rightThirdSection h1 {
  font-size: 2rem;
  font-family: "Poppins";
  font-weight: 600;
  color: #1b2050;
} */
/* .rightThirdSection p {
  margin-top: 4%;
  font-family: "Poppins";
  width: 80%;
} */
/* .request_btn {
  margin-top: 7%;
}
.request_btn button {
  width: 30%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 30px;
} */
/* .learnMoreBtn {
  background-color: transparent !important;
  color: #1b2050 !important;
  border: 2px solid #1b2050 !important;
  transition: 0.5s ease-in-out;
}
.learnMoreBtn:hover {
  box-shadow: inset 400px 0 0 0 #1b2050 !important;
  color: #fff !important;
} */

.mainTestimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6faff;
  min-height: 70vh;
  margin-top: 4%;
  /* overflow: hidden; */
  /* position: relative; */
  padding-top: 7%;
  padding-bottom: 7%;
}

.innerTestimonial {
  width: 80%;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  /* overflow: hidden; */
  position: relative;
}
.testimonialHeading {
  width: 100%;
  margin-bottom: 2%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.dots {
  position: absolute;
  left: -45px;
  top: -100px;
  width: 12%;
}
.testimonialHeading h2 {
  font-family: "Poppins";
  font-weight: 300;
  color: #fff;
  font-size: 1.8rem;
}
.testimonialHeading h2::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5%;
  border-radius: 999px;
}

.testimonialUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  padding: 2rem;
  width: 100%;
}
.userImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userProfile {
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
}
.userAvatar {
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  width: 100% !important;
  object-fit: contain;
  /* height: 20%; */
}
.userInfo h2 {
  font-family: "Poppins";
  font-weight: 400;
  color: #fff;
}
.userInfo p {
  font-family: "Poppins";
  font-weight: 600;
  color: #fff;
}
.userData {
  width: 50%;
}
.userData p {
  width: 80%;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 100;
  color: #ffffff;
}
.rightDots {
  position: absolute;
  /* right: 0;
    bottom: 0;
    z-index: 999; */
  right: -5%;
  z-index: 999;
  bottom: -10%;
}

.owl-nav {
  /* position: absolute; */
  z-index: 1;
  bottom: 0;
}
.owl-nav button {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  bottom: 0;
}
.owl-nav button:nth-child(2) {
  left: 4%;
}
.owl-nav button:focus {
  outline: none !important;
}
.owl-nav button:hover span {
  color: #000 !important;
}
.owl-nav button span {
  font-size: 1.3rem !important;
}
.owl-dots {
  /* position: absolute; */
  bottom: -20px;
  right: 0;
}

.owl-dots .owl-dot span {
  background-color: #f6faff !important;
}
.owl-dots .owl-dot.active span {
  background-color: #121a31 !important;
}
.owl-dots button:focus {
  outline: none !important;
}

.mainServices {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8%;
  background-color: #f6faff;
  padding-top: 5%;
}
.brinjal {
  position: absolute;
  z-index: -1;
  left: 0;
}
.serviceDots {
  position: absolute;
  right: 5%;
  z-index: -1;
}
.innerServices {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}
.ServicesInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.ServicesHeading {
  margin-bottom: 10%;
}
.ServicesHeading h1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 2rem;
  color: #1b2050;
}
.ServicesHeading h1::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #1b2050;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1%;
  border-radius: 999px;
}
.serviceCard {
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
  width: 30%;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
  z-index: 1;
}
.serviceCard:hover {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}
.serviceIcon {
  margin-bottom: 8%;
}
.serviceContent h3 {
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom: 10px;
}
.serviceContent p {
  font-family: "Poppins";
  font-weight: 400;
  color: #7d7987;
}
.learnMore {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.learnMore button {
  width: 20%;
  height: 50px;
  outline: none;
  border: 1px solid #1b2050;
  background-color: transparent;
  color: #1b2050;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  z-index: 1;
  display: inline-block;
}
.learnMore button:hover {
  box-shadow: inset 400px 0 0 0 #1b2050;
  color: #fff;
}

.mainCaseStudy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 14%;
}
.innerCaseStudy {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.CaseStudyHeading {
  margin-bottom: 6%;
}
.CaseStudyHeading h1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 2rem;
  color: #1b2050;
}
.CaseStudyHeading h1::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #1b2050;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1%;
  border-radius: 999px;
}
.caseStudyContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.caseStudyCard {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 30%;
  border-radius: 15px;
  background-color: #fff;
}
.caseStudyCardImage {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  padding: 0.5rem;
}
.caseStudyCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.caseStudyInfo {
  padding: 0.7rem;
}
.caseStudyInfo h3 {
  font-family: "Poppins";
  color: #1b2050;
  margin-bottom: 2%;
}
.caseStudyInfo p {
  font-family: "Poppins";
  color: #7d7987;
  font-weight: 200;
}
.readMoreBtn {
  width: auto;
  position: relative;
  margin-top: 4%;
  margin-bottom: 2%;
  transition: 0.3s ease-in-out;
}
.readMoreBtn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4089ed;
}
.readMoreBtn a h6 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.readMoreBtn a img {
  transition: 0.2s ease-in-out;
  width: 25px;
  margin-left: 8px;
}
.readMoreBtn a:hover > img {
  transform: translateX(20px);
}

.viewAllBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.viewAllBtn button {
  width: 20%;
  height: 50px;
  outline: none;
  border: 1px solid #1b2050;
  background-color: transparent;
  color: #1b2050;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  z-index: 1;
  display: inline-block;
}
.viewAllBtn button:hover {
  box-shadow: inset 400px 0 0 0 #1b2050;
  color: #fff;
}
.brinjalright {
  position: absolute;
  right: 0;
  z-index: -1;
}
.StudyDots {
  position: absolute;
  top: 0;
  z-index: -1;
  left: -40px;
}

.getEstimate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -55%;
  transform: translateY(50%);
}
.innerGetEstimate {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 15px;
  background-color: #fff;
}
.edtimateDiv {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.estimateText {
  margin-top: 2%;
}
.estimateText h3 {
  /* font-family: "Poppins"; */
  /* font-size: 2rem;
  font-weight: 400; */
  /* color: #1b2050; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  display: flex;
  align-items: center;

  color: #0b132a;
}
.estimateText p {
  margin-top: 2%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #4f5665;
}
.estimateBtnArea {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.estimateBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.estimateBtn button {
  width: 50%;
  height: 50px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4);
}

.mainFooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  position: relative;
}
.footerDots {
  position: absolute;
  left: 0;
  bottom: 20%;
}
.innerFooter {
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding: 8rem 0 2rem 0;
}
.footerContent {
  width: 40%;
}
.footerHeading {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.footerLogo {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-right: 10px;
}
.footerLogo h6 {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 400;
  color: #5a98f2;
}
.footerHeading h2 {
  font-family: "Poppins";
  font-weight: 400;
  color: #fff;
}
.footerInfo p {
  font-family: "Poppins";
  font-weight: 200;
  color: #fff;
}
.copyrights {
  margin-top: 6%;
}
.copyrights p {
  font-family: "Poppins";
  font-weight: 300;
  color: #fff;
}
.footerMaps {
  display: flex;
}

.footerCompany h2 {
  font-family: "Poppins";
  font-weight: 400;
  color: #fff;
}
.footerCompany ul {
  list-style: none;
  margin-top: 5%;
}
.footerCompany ul li {
  font-family: "Poppins";
  color: #fff;
  margin-top: 8%;
  cursor: pointer;
  font-weight: 300;
}
.footerMapImage {
  margin-left: 5%;
}
